html {
    height: 100%;
    @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");
    font-family: "Inter", sans-serif;
    body {
        height: 100%;
        margin: auto;
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        justify-content: center;
        background: url("../images/pattern-curve.svg");
        background-repeat: no-repeat;
        background-position: left bottom;
    }
}
.d-block {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease-in;
}
.d-none {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.container {
    width: 1440px;
    margin: auto;
}
.main {
    width: 90%;
    padding: 70px 0;
    margin: auto;

    .testimonial {
        display: flex;
        align-items: center;
        height: 100%;
        width: 90%;
        margin: auto;
        .left {
            width: 50%;
            .content {
                font-size: 32px;
                font-weight: 200;
                color: hsl(240, 38%, 20%);
                position: relative;
                top: 30px;
                .quotes {
                    position: absolute;
                    top: -25%;
                    left: 20%;
                }
                .text {
                    position: relative;
                    width: 110%;
                    z-index: 2;
                    line-height: 39px;
                }
                .autor {
                    font-weight: 700;
                    font-size: 20px;
                    margin-top: 35px;
                    span {
                        font-weight: 500;
                        color: hsl(240, 18%, 77%);
                    }
                }
            }
        }
        .right {
            width: 50%;
            position: relative;
            z-index: 1;
            .bg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -51%);
            }
            ul {
                list-style: none;
                padding: 0;
                display: inline;
                position: relative;
                li {
                    padding: 0;
                    img {
                        -webkit-box-shadow: 15px 20px 18px 0px rgba(0, 0, 0, 0.1);
                        -moz-box-shadow: 15px 20px 18px 0px rgba(0, 0, 0, 0.1);
                        box-shadow: 15px 20px 18px 0px rgba(0, 0, 0, 0.1);
                    }
                }
            }
        }
    }
}
.attribution {
    position: absolute;
    bottom: 25px;
    font-size: 11px;
    text-align: center;
    .attribution a {
        color: hsl(228, 45%, 44%);
    }
}

#slide1,
#slide1text {
    position: absolute;
}

.slider-controls {
    position: absolute;
    left: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100px;
    border-radius: 30px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    bottom: 0;
    background-color: white;
    height: 50px;
    transform: translateY(50%);
    overflow: hidden;
    button {
        border: none;
        background: none;
        width: 50%;
        outline: none;
        &:hover{
            background-color: rgba(0, 0, 0, 0.1);
            transition: ease-in 0.1s;
        }
    }
}
